<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/3a9bb8fc-5d31-4682-9362-9e3c8d64f28f/resourceGroups/gpreviewApp/providers/Microsoft.Web/sites/ReviewAppAPI</ResourceId>
    <ResourceGroup>gpreviewApp</ResourceGroup>
    <ApiResourceId>/subscriptions/3a9bb8fc-5d31-4682-9362-9e3c8d64f28f/resourceGroups/gpreviewApp/providers/Microsoft.ApiManagement/service/ReviewAppAPI/apis/ReviewApp</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://reviewappapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>df3ecbc9-ff4b-48cd-bd92-28f73f18f6e6</ProjectGuid>
    <MSDeployServiceURL>reviewappapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>ReviewAppAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$ReviewAppAPI</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>